<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
  <header>
    <h1>WELCOME TO MY PROFILE</h1>
    
  </header>
    <section>
   <img src="/static/images/vinay.jpg" alt="vinay">
    <h2>Name</h2>
    <p>Vinay M Hegde</p>
    <h2>About Me</h2>
    <p> my name is vinay hegde</p>
    <P>im from sirsi,uttarakannada,karnataka</P>
    <h2>qualification</h2>
    <p>B.COM</p>
    <p>python fullstack developer</p>

    <h2>-:Contact Information:-</h2>
    <ul>
      <li>Email: vinayhegde784@gmail.com</li>
      <li>Website:  www.website.com</li>
      <li>LinkedIn: www.linkedin.com/in/vinayhegde</li>
      <li>Contact:  7019203772</li>
      
      
    </ul>


</section>
<section>
  <h2>Comments</h2>
  <form>
    <label for="comment">Ask me a question:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="Submit Comment">
  
</section>

</body>
</html>